* {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    background-image: -moz-element();
}

h1 {
    justify-content: left;
    padding: 10px;
    
}

nav a {
    padding: 10px;
}
main img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.logo {
    justify-content: start;
    right: 200px;
}
.happy {
    display: flex;
    justify-content: end;
    align-content: space-around;
    top: 100px;
}

